* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

  }
  body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
  }
  .app {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);    
  }
  .top-bar {
    background-color: #007a52;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    
    width: 100%;
    z-index: 1000;
  }
  .card,.customer-service{
    width: 50px;
    height: 50px;
    filter: invert(1);
    
  }
  .card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .total-checkout-support-wrapper{
    display: flex;
    align-items: center;
  }
  .top-bar .totals {
    display: flex;
    gap: 30px;
  }
  .top-bar .totals div {
    text-align: center;
  }
  .top-bar .totals .amount {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .checkout {
    background-color: #004c37;
    color: white;
    padding: 10px 20px;
    border-radius:0px 10px 10px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .total-checkout-wrapper{
    display: flex;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-right: 10px;
    
  }
  .old-amount,.new-amount{
    padding: 10px;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .coupons, .cart {
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 100vh;
    padding-top: 0;
  }
  .cart{
    flex:1;
  }
  .coupons{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
/* Coupon card design */
  .coupon-card-wrapper{
    background: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    position: relative;
  }
  .coupon-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
  }
  .product-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
  }
  .aisle-tag {
    background: black;
    color: white;
    font-size: 10px;
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  .discount {
    background-color: #fdd835;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 2px 6px;
    border-radius: 3px;
    width: 40%; 
  }
  .product-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
  }
  .button {
    background: #eee;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    border: 1px dashed #aaa;
    width: 100%;
  }
  .clipCoupon{
    background-color: white;
    border:2px dashed black;
  }
  .button:hover {
    background: #ddd;
  }
  .exclusive-tag {
    background: #fdd835;
    color: black;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
            
/* Coupon card design */
  
  h2{
      position: sticky;
      top: 0;
      background: white;
      z-index: 10;
      padding: 10px;
      padding-top: 30px;
  }
  .mylogo{
    color:#009688;
  }
  .cart-item {
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  .coupon-details, .item-details {
    flex: 1;
    margin-left: 15px;
  }
  .clip-btn {
    background-color: #ffe600;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  .price-box {
    text-align: right;
  }
  .price-box .new {
    background-color: #ffe600;
    padding: 5px 8px;
    font-weight: 700;
    border-radius: 5px;
  }
  .price-box .old {
    font-size: 0.9rem;
    color: #999;
    text-decoration: line-through;
  }
  .add-item-btn {
    margin-top: 20px;
    background-color: #00a86b;
    color: white;
    padding: 1rem;
    text-align: center;
    align-items: center;
    border-radius: 10rem;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 999;
    width: 40vw;
    height: 10vh;
    font-size:x-large;
  }
  .add-item-btn:active{
      background-color:  #00d889;
  }
  .devider{
      width: 1px;
      background-color: #ddd;
      height: 100%;

  }