<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Sign Up</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="text">
            <h1><a href="/login">Login</a> / <a href="/signup">Sign Up</a> </h1>
            <p>AI Self-Billing</p>
        </div>
        <div class="illustration">
            <img src="../static/resources/login-page-bg.png" alt="AI Self-Billing Illustration">
        </div>
    </div>
</body>
</html>
