<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/otp.css">
</head>
<body>
    <div class="container">
        <img src="../static/resources/logo.png" alt="logo">
        <div class="otp">
            <input type="number" max="9999" required placeholder="Enter OTP">
        </div>
        <button >Submit</button>
        <p class=>Didn't get the OTP? <a href="/otp"> resend OTP</a></p>
    </div>
</body>
</html>