<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/css/sign_up.css">
</head>
<body>
    <div class="container">
        <img src="../static/resources/logo.png" alt="logo">
        <div class="name">
            <input type="txt" maxlength=100 required placeholder="Enter Your Name">
        </div>
        <div class="p_no">
            <input type="number" min="0000000000" max="9999999999" required placeholder="Enter Phone Number">
        </div>

        <button class="otp">Submit</button>
        <p class="signup">Already have an acount? <a href="/login"> log in</a></p>
    </div>
</body>
</html>